<!DOCTYPE html>

{% extends "base_framework.html" %}

<head>
	<title>
	</title>
</head>

<body>
	<br><br>
	{% block main_body_content %}
		<form action="" method="post">
		{% for ckt_item in ckt_component_list %}
			<table>
			<tr style="padding:35px">
			<td style="text-align:left; padding:25px">{{ forloop.counter }}</td>
			<td>
			{% if ckt_item.0 %}
				{% for comp_spec in ckt_item.0 %}
					{{ comp_spec.0 }}: {{ comp_spec.1 }} <br>
				{% endfor %}
			{% endif %}
			<input type="submit" name="edit_comp_para_{{ ckt_item.1.id }}"
			value="Edit parameters">
			<br><br>
			</td>
			</tr>
			</table>
		{% endfor %}
		
		<input type="submit" name="edit_ckt_parameters" value="Back to circuit list">

		<input type="hidden" name="sim_id" value="{{ sim_id }}">
		<input type="hidden" name="sim_state" value="{{ sim_state }}">
		{% csrf_token %}
		</form>
	{% endblock %}
</body>