<!DOCTYPE html>

{% extends "base_framework.html" %}

<head>
	<title>
	</title>
</head>

<body>
	<br><br>
	{% block main_body_content %}
		<form action="" method="post">
			<table>
				{% for sim_item in simulation_form %}	
				<tr>
					<td>{{ sim_item.label }}</td>
					<td>{{ sim_item }}</td>
				</tr>
				{% endfor %}
			</table>
			
			<p>Browse your computer and upload the circuit schematic spreadsheets (.csv) files.
			</p>
			<ol>
			<table>			
				{% for sim_item in ckt_schematic_form %}
				<tr> <td> <li> </li> </td>
				<td>				
					{% if sim_item.0 %}
					<table>
					<tr>
						<td>
							File name: 
						</td>
						<td>
							{{ sim_item.0.ckt_file_name }}
						</td>
					</tr>
					<tr>
						<td>
							File description: 
						</td>
						<td>
							{{ sim_item.0.ckt_file_descrip }}
						</td>
					</tr>
					</table>
					Want to change this file? Click 
					<input type="submit" name="change_ckt_id_{{ sim_item.0.id }}" Value="Remove circuit"> <br>
					and add another one using Add circuit button below.
					{% else %}
					<table>
					<tr>
						<td>{{ sim_item.1.label }}
						</td>
						<td>{{ sim_item.1 }}</td>
					</tr>
					</table>
					{% endif %}
				</td>
				</tr>
				{% endfor %}
			</table>
			</ol>
			<input type="submit" name="add_ckt_schematic" value="Add circuit file">
			<br> <br>
			<input type="submit" name="submit"  value="Submit">
			<input type="hidden" name="sim_id" value="{{ sim_id }}">
			{% csrf_token %}
		</form>
	{% endblock %}
</body>