<!DOCTYPE html>

<head>
	<title>Python Power Electronics {% block title %}{% endblock %}
	</title>
</head>

<body>
	{% block top_heading %}
	<h1 align="center" style="font-size:200%">Python Power Electronics</h1> <br>
	<table align="center" style="width:80%;font-size:150%">
		<th><a href="">Simulation Library</a></th>
		<th><a href="new-simulation/">Create Simulation</a></th>
		<th><a href="">Documentation</a></th>
		<th><a href="">Contact</a></th>
	</table>
	{% endblock %}
	<br><br>
	{% block main_body %}
	<div align="center">
		<div style="width:80%" align="left">
		<table>
			{% for sim_item in simulation_form %}
			<tr>
				<td>{{ sim_item.label }}</td>
				<td>{{ sim_item }}</td>
			</tr>
			{% endfor %}
		</table>
		</div>
	</div>
	{% endblock %}
</body>